#top-bar {

	width: 1000px;
	margin: 0 auto;
	height: 40px;
}
.clear{
	clear: both;
}
#bbc-logo{

	height: 23px;
	margin-top: 8px;
	float: left;
	margin-right: 5px;
}
.top-bar-area{

	float: left;
	border-left: 1px #D1D1D1 solid;
	height: 100%;
}
.top-bar-text{
	font-weight: bold;
	font-size: 90%;
	padding: 12px 10px 0 10px;
	height: 28px;
}
#signin-image{

	width: 18px;
	height: 18px;
	margin: 8px;
	float: left; 
}
#signin-text{
	font-weight: bold;
	font-size: 80%;
	position: relative;
	top: 8px;
	margin-right: 80px;
}
#drop-down-icon{
	width: 13px;
	height: 13px;
	margin-left: 65px;
}
#search-bar{
	font-weight: bold;
	background-color: #E4E4E4;
	border:none;
	padding: 5px;
	margin: 7px 0 7px 9px;
	float: left;
}
#magnifing-glass-icon{
	width: 25px;
	height: 25px;
	margin-top: 7px;
}
#news-text-bar{
	width: auto;
	background-color: #BB1919;
	height: 60px;
	margin: 0 auto;
}
#news-text{
	color: white;
	font-size: 270%;
	margin-left: 73px;
	position: relative;
	top: 8px;
}
#third-menu-bar{
	width: auto;
	height: 36px;
	background-color: #A91717;
	margin: 0 auto;
}
#third-bar-home-text{
	float: left;
	color: white;
	font-size: 90%;
	margin-left: 73px;
	margin-right: 13px;
}
.third-menu{
	float: left;
	border-right: 1px #DD2222 solid;
	margin-top: 10px;
	height: 50%;
}
.third-menu-area{
	float: left;
	color: white;
	font-size: 90%;
	padding:0 11px 0 11px;
}
#more-bar{
	padding: 10px 0 0 11px;
	float: left;
	color: white;
	font-size: 90%;
}
#menu-drop-down-icon{
	width: 14px;
	height: 14px;
	position: relative;
	top: 2px;
}
#page-area{
	width: 1000px;
	margin: 0 auto;

}
h2{
	
	font-size: 20px;
	font-weight: normal;
	border-bottom: 3px #A91717 solid;
	width: 100px;
}
h3 a{
	color: #222222;
	text-decoration: none;
	font-size: 175%;
	position: relative;
	top: -13px;
}
h3 a:hover{
	color: #1167A8;

}
#main-blog{
	color: #5A5A5A;
	width: 240px;
	font-size: 90%;
	float: left;
	position: relative;
	top: -28px;
}
#main-blog img{

	height: 13px;
	float: left;	
}
.tag1{
	margin-left: 6px;
	padding-right: 5px;
	border-right: 1px solid #D1D1D1;
	font-size: 90%;
}
.main-blog-link{
	color: #A91717;
	padding-left: 5px;
	text-decoration: none;
	font-size: 90%;
}
#main-blog a:hover{
	color: #1167A8;
}
#blog-area{
	float:left;
	width: 670px;
	border-right: 1px #B8B8B8 solid;
	padding-right: 15px;
	height: 400px;
}
#main-blog-hr{
	width: 40px;
	border-top: 1px #A91717 solid;
}
#tag2{
	color: #222222;
	text-decoration: none;
}
#tag3{
	position: relative;
	top: -13px;
}
#watch-listen{
	margin-left: 20px;
	width: 300px;
	
}
h4{
	font-weight: normal;
	font-size: 20px;
}
.right-side-img{
	float: left;
	width: 90px;
	margin-right: 10px;
}
.clock{
	width: 13px;
}
.watch-listen-link{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 18px;
}
.watch-listen-link:hover{
	color: #1167A8;
}
#tag4{
	color: #A91717;
	padding-left: 5px;
	text-decoration: none;
	font-size: 90%;
}
#tag4:hover{
	color: #1167A8;
}
.side-blog{
	float: right;
	width: 200px;
	position: relative;
	top: -15px;

}
body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}