#top-bar {

	width: 1000px;
	margin: 0 auto;
	height: 40px;
}
#bbc-logo{

	height: 23px;
	margin-top: 8px;
	float: left;
	margin-right: 5px;
}
.top-bar-area{

	float: left;
	border-left: 1px #D1D1D1 solid;
	height: 100%;
}
.top-bar-text{
	font-weight: bold;
	font-size: 90%;
	padding: 12px 10px 0 10px;
	height: 28px;
}
#signin-image{

	width: 18px;
	height: 18px;
	margin: 8px;
	float: left; 
}
#signin-text{
	font-weight: bold;
	font-size: 80%;
	position: relative;
	top: 8px;
	margin-right: 80px;
}
#drop-down-icon{
	width: 13px;
	height: 13px;
	margin-left: 65px;
}
#search-bar{
	font-weight: bold;
	background-color: #E4E4E4;
	border:none;
	padding: 5px;
	margin: 7px 0 7px 9px;
	float: left;
}
#magnifing-glass-icon{
	width: 25px;
	height: 25px;
	margin-top: 7px;
}
#news-text-bar{
	width: auto;
	background-color: #BB1919;
	height: 60px;
	margin: 0 auto;
}
#news-text{
	color: white;
	font-size: 270%;
	margin-left: 73px;
	position: relative;
	top: 8px;
}
#third-menu-bar{
	width: auto;
	height: 36px;
	background-color: #A91717;
	margin: 0 auto;
}
#third-bar-home-text{
	float: left;
	color: white;
	font-size: 90%;
	margin-left: 73px;
	margin-right: 13px;
}
.third-menu{
	float: left;
	border-right: 1px #DD2222 solid;
	margin-top: 10px;
	height: 50%;
}
.third-menu-area{
	float: left;
	color: white;
	font-size: 90%;
	padding:0 11px 0 11px;
}
#more-bar{
	padding: 10px 0 0 11px;
	float: left;
	color: white;
	font-size: 90%;
}
#menu-drop-down-icon{
	width: 14px;
	height: 14px;
	position: relative;
	top: 2px;
}
#page-area{
	width: 1000px;
	margin: 0 auto;
}
h2{
	
	font-size: 20px;
	font-weight: normal;
	border-bottom: 3px #A91717 solid;
	width: 100px;
}
h3 a{
	color: #5A5A5A;
	text-decoration: none;
	font-size: 165%;
}
h3 a:hover{
	color: #1167A8;
}
#main-blog{
	color: #5A5A5A;
	width: 265px;
}
body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}